<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<!-- 步骤:第三章1.3.3 编写mybatis-config.xml -->
<configuration>
	<settings>
		<!-- 配置关闭缓存 -->
		<setting name="cacheEnabled" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="defaultExecutorType" value="REUSE" />
		<!-- 事务超时时间 -->
		<setting name="defaultStatementTimeout" value="600"/>
	</settings>
	
	<typeAliases>
		<!-- 配置别名包 -->
		<typeAlias type="com.mooc.house.model.User" alias="user"/>
	</typeAliases>
	
	<!-- mapper -->
	<mappers>
		<mapper resource="mapper/userMapper.xml"/>
		<!-- <package name="com.mooc.house.mapper"/> -->
	</mappers>
</configuration>        